*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif KR', serif;
}

html {
    scroll-behavior: smooth;
}

a {
  text-decoration:none;
  color:#000000;
}

.bar {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar__menu {
  display: flex;
  list-style: none;
  padding-left: 180px;
  color:#000000;
  font-size: 80%;
}

.bar__menu li {
  padding: 0px 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  width: 100%;
  height: 700px;
}
.cont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
}
.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.cont3 {
  background-color:#1B1B19;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 620px;
}
.pic1 {
  background-color:#1B1B19;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
.cont4 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cont5 {
  background-color:#EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1100px;
}
.pic2 {
  background-color:#EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}
.cont6 {
  background-color:#E3E0DD;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 570px;
}
.pic3 {
  background-color:#E3E0DD;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
}
.cont7 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.cont8 {
  background-color:#F0D8BD;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
}
.pic4 {
  background-color:#F0D8BD;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}
.cont9 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  width: 100%;
  height: 1200px;
  overflow: hidden;
}
.title3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.cont10 {
  background-color:#D6D7D7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
}
.pic5 {
  background-color:#D6D7D7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
}
.pic6 {
  background-color:#D6D7D7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
}
.title4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.cont11 {
  background-color:#676767;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
}
.pic7 {
  background-color:#676767;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 625px;
}
.cont12 {
  background-color:#9A9A9A;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1200px;
}
.cont13 {
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  padding-top: 50px;
}
.cont14 {
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  padding-bottom: 50px;
}
.cont15 {
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

.top__icon {
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 25px;
  list-style: none;
  font-size: 10px;
}
